[tool.poetry]
name = "pythonproject3"
version = "0.1.0"
description = ""
authors = ["Anna <mirzeyevaaygun34@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.13"
django = "^5.2.6"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
