body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    background-color: #e6f2ff;
    padding: 10px;
}

.product-title {
    color: #007bff; /* голубой цвет */
}

nav a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
}

nav a:hover {
    text-decoration: underline;
}
