{% extends 'catalog/base.html' %}

{% block title %}Главная{% endblock %}
{% include 'catalog/_menu.html' %}

{% block content %}
<h1>Наши товары</h1>

{% for category in categories %}
  <div class="section-blue">
    <h2>{{ category.name }}</h2>
    {% if category.products.exists %}
      <ul>
        {% for product in category.products.all %}
          <li>
            <strong>{{ product.name }}</strong> — {{ product.description }} — {{ product.price }} ₽
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Нет товаров в этой категории.</p>
    {% endif %}
  </div>
{% endfor %}

{% endblock %}
{{ product.description|truncatechars:100 }}
