{% extends "catalog/base.html" %}

{% block content %}
<h1>Наши товары</h1>

{% for category, products in category_products.items %}
  <h2>{{ category.name }}</h2>
<h2>
  {% if category.name == "Ноутбуки" %}
    💻 <span style="color:#0055aa; font-weight:bold;">{{ category.name }}</span>
  {% elif category.name == "Смартфоны" %}
    📱 <span style="color:#0055aa; font-weight:bold;">{{ category.name }}</span>
  {% else %}
    <span style="color:#0055aa; font-weight:bold;">{{ category.name }}</span>
  {% endif %}
</h2>

  {% if products %}
    <div class="product-grid">
      {% for product in products %}
        <div class="product-card">
          <h3>{{ product.name }}</h3>
          <p>{{ product.description }}</p>
          <p><strong>{{ product.price }} ₼</strong> / <strong>{{ product.price_rub|floatformat:0 }} ₽</strong></p>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>Нет товаров в этой категории.</p>
  {% endif %}
{% endfor %}
{% endblock %}
