<nav>
  <ul>
    <li><a href="{% url 'home' %}">Главная</a></li>
    <li><a href="{% url 'contacts' %}">Контакты</a></li>
  </ul>
</nav>
<nav>
  <ul>
    <li>
      <a href="{% url 'home' %}">
        <i class="fas fa-home" style="color: #3498db;"></i> Главная
      </a>
    </li>
    <li>
      <a href="{% url 'contacts' %}">
        <i class="fas fa-envelope" style="color: #e74c3c;"></i> Контакты
      </a>
    </li>
    <li>
      <a href="{% url 'cart' %}">
        <i class="fas fa-shopping-cart" style="color: #2ecc71;"></i> Корзина
      </a>
    </li>
  </ul>
</nav>
