{% extends 'catalog/base.html' %}

{% block content %}
<h1>Наши товары</h1>
<div class="product-grid">

    <div class="product-card">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <p><strong>{{ product.price }} ₼</strong></p>
      {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200">
      {% endif %}
    </div>
   <a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-sm btn-warning">✏️ Изменить</a>
              <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-sm btn-danger">🗑️ Удалить</a>
</div>
{% endblock %}
